.footer
      .footer__logo: a(href="/")
        img(src="/img/logo-green.png" alt="Natours logo")
      ul.footer__nav
        li: a(href="/about-us") About us 
        li: a(href="/download-apps") Download apps
        li: a(href="/become-a-guide") Become a guide
        li: a(href="/careers") Careers
        li: a(href="/contact-us") Contact
      p.footer__copyright
        | &copy; by Samuel Nyarkoh. All rights reserved.